{% extends "index.html" %}
{% block content %}
<form method="POST" action="">
    <div class="form-group">
        {{ form.hidden_tag() }}
    </div>
    <div class="form-group">
        {{ form.first_name.label }}
        {{ form.first_name }}
        <div class="error">
            {% for error in form.first_name.errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    </div>
    <div class="form-group">
        {{ form.last_name.label }}
        {{ form.last_name }}
        <div class="error">
            {% for error in form.last_name.errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    </div>
    <div class="form-group">
        {{ form.title.label }}
        {{ form.title }}
        <div class="error">
            {% for error in form.title.errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    </div>
    <div class="form-group">
        {{ form.content.label }}
        {{ form.content }}
        <div class="error">
            {% for error in form.content.errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    </div>
    <div class="form-group">
        {{ form.submit }}
    </div>
</form>
{% endblock %}

